
.blurb h2 {
   color: black;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #325C74;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 180;
    font-size: 4rem;
}

.navbar.scrolled {
    background: black;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 150;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}

h1.line {
    color: black;
}

p.para{
    color:white;
    margin-left: -17%;
    margin-right: -17%;
}

h2.heading{
    color:red;
    font-weight:200;
    font-size: 2em;
}

#particles-js canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

html,body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: #222;
}

h1,h2 {
  font-weight: 200;
  
}
h1 { 
  font-size: 3.5em; 
}

h2.connect {
  color: #888;
  font-size: 2em;
}

div .para
{
  background-color:;
  margin-left: -30px;
}

/*Designing the Share button*/

.share{
  position: absolute;
  top: 120%;
  left: 50%;   
  transform: translate(-50%,-50%); 
  width:50px;
  height: 50px;
  
} 

.share ul{
   position: relative;
   margin-bottom: 0; 
   padding:0;
   width: 100%;
   height:100%;
}

h1.hello {
  background-image: url(https://media.giphy.com/media/WYsDOuRz0dcKQ/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}

/*designing each seperate social media icon button and adding the transitioon timings*/

.share ul li a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: #262626;
  transition: 0.5s;

  /*Transition upon hover/once the initial toggle is triggered*/

}
.share ul li a:hover{

  color: #fff;
  background:#2196f3;
  


}
.share ul li{
  position:absolute;
  top:0;
  left:0;
  list-style: none;
  width: 100%;
  height:100%;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  transform: scale(0.95); 
  border-radius: 10px; 
}

/*adding the location around the main share button where all the social media icons will be located*/

.share ul.active li:nth-child(1) {

 top:  -100%;
 left: -100%;
 transition-delay: 0.2s;

}
.share ul.active li:nth-child(2) {

 top: -100%;
 left: 100% ;
 transition-delay: 0.4s;

}
.share ul.active li:nth-child(3) {

 top:  100%;
 left: 100% ;
 transition-delay: 0.6s;

}
.share ul.active li:nth-child(4) {

 top:  100%;
 left: -100% ;
 transition-delay: 0.8s;
}

/* The Toggle button (share and cross), making it rounded and slightly larger*/
.toggle{
  background-image: url(https://media.giphy.com/media/WYsDOuRz0dcKQ/giphy.gif);
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  transform: scale(0.98);
  overflow:hidden;
  border-radius: 10px; 
  z-index: 1;
  cursor: pointer;
  
}

/*Before: when the share button is visible and the icons are all hidden*/

.toggle:before{
  content: '\f1e0';
  font-family: fontAwesome;
  color: #262626;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

/*when the toggle has been activated, and all the icons are visble, the toggle fontAwesome chanegs to the cross*/

.toggle.active:before{
  content: '\f00d';
}


/*Projects Page*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: #111;
}

.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  letter-spacing: 1px;
}

h1.projects {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}





